$font: rockwell;
$font2: 'Montserrat', sans-serif;
$font3: 'Nunito', sans-serif;
$font4: 'Merriweather', serif;
$font5: 'Zilla Slab', serif;
$themefont: $font3;
$primaryColor: #d92228;
$primaryColorH: #c51117;
