@import './mixins';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
// font face start
@font-face {
  font-family: rockwell;
  font-weight: 400;
  src: url(./../fonts/Rockwell.otf);
}

@font-face {
  font-family: rockwell;
  font-weight: 500;
  src: url(./../fonts/Rockwell_MT_Bold.ttf);
}

@font-face {
  font-family: rockwell;
  font-weight: 600;
  src: url(./../fonts/RockwellBQ-ExtraBold.otf);
}
@font-face {
  font-family: rockwell;
  src: url(./../fonts/RockwellBQ-Regular.otf);
  font-weight: 300;
}
// font face end

body {
  font-family: $themefont;
  font-weight: normal;
  font-size: 14px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-weight: 800;
}

h1,
.h1 {
  font-size: 60px;
  line-height: normal;
}

.font-weight-bolder {
  font-weight: 900 !important;
}

.container {
  max-width: 1280px;
}

.bg-cover {
  background-size: cover;
  background-position: center;
}

.bg-overlay {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #00000052;
  }
  > * {
    position: relative;
  }
}

.bg-fixed {
  background-attachment: fixed;
}

.btn {
  padding: 8px 22px;
}

/* Header start */
@import './header';
/*Header end */

/* Home page styling start*/
.top-banner {
  padding: 60px 0;
}

.banner-nav {
  margin-bottom: 15px;
  font-size: 13px;
  > li {
    padding: 0 5px;
    > a {
      border-bottom: 2px solid transparent;
      color: #fff;
      padding-bottom: 4px;
      &:hover,
      &.active {
        border-color: $primaryColor;
      }
    }
  }
}

.search-form {
  display: inline-flex;
  width: 100%;
  max-width: 500px;
  > input {
    border-radius: 0;
    border: 1px solid #00000021;
    padding: 10px 15px;
    font-size: 14px;
    width: 100%;
  }
  > .btn {
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 0;
  }
}

.certificate-badge {
  font-size: 25px;
  display: inline-block;
  position: relative;
  > .fa-check {
    position: absolute;
    left: 6px;
    font-size: 13px;
    color: #fff;
    top: 10px;
  }
}

.promotion-box {
  position: relative;
  overflow: hidden;
  > .position-relative {
    > .badge {
      border-radius: 2px;
      position: absolute;
      text-transform: uppercase;
      top: 9px;
      left: 9px;
    }

    > img.w-100 {
      height: 170px;
      object-fit: cover;
    }

    > .position-absolute {
      bottom: 0;
      width: 100%;
      left: 0;

      .fa-heart {
        font-size: 30px;
      }
    }
  }
}

.Recommended-box {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  > .map-img {
    width: 100%;
  }
  > .fa-map-marker-alt {
    position: absolute;
    top: 40px;
    right: 70px;
    color: #f44336;
    font-size: 31px;
  }
  .avatar {
    height: 70px;
    object-fit: cover;
    width: 70px;
    border-radius: 50%;
    margin-top: -40px;
  }
  h5 {
    font-size: 20px;
    margin-bottom: 0;
  }
}

.left-image-section {
  position: relative;
  > * {
    position: relative;
  }
  > img {
    position: absolute;
    height: 100%;
    max-width: 50%;
    object-fit: cover;
    top: 0;
    left: 0;
  }
}

.right-image-section {
  position: relative;
  > * {
    position: relative;
  }
  > img {
    position: absolute;
    height: 100%;
    max-width: 50%;
    object-fit: cover;
    top: 0;
    right: 0;
  }
}

#testimonials-carousel {
  padding: 0 20px;
  padding-bottom: 32px;
  .testimonials-text {
    font-weight: 300;
    font-family: $font5;
    font-style: italic;
    line-height: normal;
    &::before,
    &::after {
      content: '"';
    }
  }

  img.testimonials-avatar {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
  }

  .testimonials-indicators {
    margin-bottom: 0;
    bottom: 0;
    > li {
      height: 15px;
      width: 15px;
      border-radius: 50%;
    }
  }

  .carousel-control-next,
  .carousel-control-prev {
    width: 20px;
  }
}

.partners-row {
  &.slick-slider {
    padding: 0 25px;
  }
  text-align: center;
  .slick-slide {
    padding-left: 10px;
    padding-right: 10px;
  }
  img {
    width: 100%;
    height: 50px;
    max-width: 150px;
    margin: auto;
    margin-bottom: 15px;
  }

  .slick-next,
  .slick-prev {
    &::before {
      color: #2d2f35;
    }
  }
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
}
/* Home page stying end */

// Footer start
.main-footer {
  background-color: #d92228e0;
  .navbar-nav {
    margin-left: -10px;
    margin-right: -10px;
    li {
      a {
        padding: 3px 10px;
        color: #fff;
        line-height: normal;
      }
    }
  }
}

.footer-top {
  background-color: #d92228;
  color: #fff;
  .brandings {
    > img {
      width: 100%;
      max-width: 100px;
      height: 30px;
      margin: 0 5px;
      object-fit: contain;
    }
  }
}

.social-links {
  > a {
    display: inline-block;
    line-height: 26px;
    font-size: 26px;
    margin: 0 2px;
  }
}
// Footer end
